@using ProiectBD.Utils;
@using ProiectBD.DB;
@using Microsoft.EntityFrameworkCore;
@{
    List<StrangePub> links = (List<StrangePub>)ViewData["1339"];

    ViewData["Title"] = "Pub List";
}

<html>
<head>
    <title>
        List of game developers:
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: top left;
            background-attachment: fixed;
        }

        h1 {
            font-family: Arial, sans-serif;
            color: #000000;
            background-color: #ffffff;
        }

        p {
            font-family: Georgia, serif;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            color: #000000;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <h1></h1>
    <div class="text-center">
        <h1 class="display-4">Publishers:</h1>
        <p>

            @{
                proiectContext ctx = new proiectContext();
                bool needToGetOut = false;
                <hr>


                try
                {
                    if (links == null)
                    {
                        needToGetOut = true;
                        links = new List<StrangePub> { new StrangePub { } };
                    <p style="font-family:Arial">Come back later...</p>
                }
                else if (!needToGetOut)
                {
                    foreach (StrangePub pub in links)
                    {
                        <p style="font-family:Arial">
                            Publisher title: <br>
                            @pub.name
                        </p>
                        <p style="font-family:Arial">
                            Contact: <br>
                            @pub.contact
                        </p>
                        <p style="font-family:Arial">
                            Country: <br>
                            @pub.country
                        </p>

                        <hr>
                        <br>
                    }
                }
            }
            catch { links = new List<StrangePub> { new StrangePub { } }; }
            }

            </p>
        </div>
    </body>
</html>
